<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
  <test thread-count="2" parallel="tests" name="Test1">
  <parameter name="Browser" value="Edge"></parameter>
    <classes>
    <class name="testcasesnew.CreateCampaignTest"/>
      <class name="testcasesnew.CreateCampaignWithExpectedDateTest"/>
      <class name="testcasesnew.CreateCampaignWithStatusTest"/>
    
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="2" parallel="tests" name="Test2">
  <parameter name="Browser" value="Chrome"></parameter>
    <classes>
    <class name="testcasesnew.CreateCampaignTest"/>
      <class name="testcasesnew.CreateCampaignWithExpectedDateTest"/>
      <class name="testcasesnew.CreateCampaignWithStatusTest"/>
    </classes>
    
  </test>
</suite> <!-- Suite -->
